.App {
  text-align: center;
}

h1, h2 {
  margin: 15px;
}

h1 {
  font-size: 1.5em
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 7vh;
  padding: 15px;
  box-shadow: -1px 4px 13px 0px rgba(173,149,149,1);
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.input-section button {
  border: none;
  color: white;
  background-color: rgb(218, 55, 70);
  padding: 5px;
  font-size: 18px;
  box-shadow: -1px 4px 15px -3px rgba(173,149,149,1);
  cursor: pointer;  
}

.input-section input {
  font-size: 18px;
  padding: 5px;
}

.input-section * {
  margin: 10px;
}

.location-data__main {
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-data__main strong {
    font-size: 1.5em;
}

.error-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  padding: 10px;
  background-color: rgba(229,57,53,0.9);
  color: #ffffff;
  font-weight: 500;
  display: none;
}

